# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Data files (opcional - puedes incluir o excluir los datos)
*.h5
*.tif

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
